*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}
.fade_s{
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.fade{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20%);
}

.showDeck{
  position: absolute;
  top: 0;
  left: 0;
}

.center{
  position: fixed !important;
  left: 20% !important;
  transform: translate(calc(-50% + var(--i)*3px), calc(-150% + var(--i)*1.5px))
             rotateY(-180deg) !important;
  box-shadow: 0.5rem 0.2rem 0.5rem 0.1rem black;
}


.fromFar{
  transform: translateY(-260%) translateX(-490%) !important;
  opacity: 0;
}

.position{
  position: fixed;
  top: 2%;
  left: 1%;
  max-width: 20rem;
  width: 100% !important;
  transition: 300ms;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.position__bottom{
  position: fixed;
  bottom: 0;
  left: 0.5%;
  max-width: 20rem;
  width: 100% !important;
  transition: 300ms;
  visibility: visible;
  opacity: 1;
}

.fade_bot{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.cool{ 
  animation: back 1s ease-in-out;
}
@keyframes back {
  0%{
    border: 1 px solid currentColor;
    box-shadow: inset 0 0 0.5rem 0.3rem currentColor,
                0 0 1rem 1rem currentColor,
                0 0 3rem 1rem currentColor;
  }
  100%{

  }
}

@keyframes scaling {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.07);
  }
}

html{
  font-size: 62.5%;
}

body{
  background: url(../assets/img/ctulhu__back.png) no-repeat center/cover;
  background-attachment: fixed;
  height: 100%;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  vertical-align: middle;
  transition: 300ms;
  overflow: hidden;
}

.first__and__last-section{
  display: flex;
  flex-direction: column;
  column-gap: 4rem;
  transition: 300ms;
}

/* Начало Древних богов */
.box{
  position: relative;
  top: 23rem;
  left: 0;
  transition: 300ms;
}

.eldritch__box{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  justify-content: center;
  transition: 300ms;
}

.eldritch__god{
 max-width: 32rem;
 width: 100%;
 height: 41.4rem;
 overflow: hidden;
 transition: 300ms;
 /* box-shadow: 0 0 0 0.1rem red,
 0 0 0 0.2rem black,
 0 0 0 0.3rem red,
 0 0 0 0.4rem black; */
 cursor: pointer;
}

.eldritch__img{
  width: 100%;
  transition: 1s;
  object-fit: cover;
  transition: 500ms;
}

.eldritch__god:hover{
  box-shadow: 1rem 0 5rem 1rem black;
  position: relative;

}
.eldritch__img:hover{
  animation: scaling 2s linear infinite alternate;
}

/* Конец Древних богов */




/* Начало уровня сложности */
.difficulty__level{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 80%;
  margin: 2rem auto;
  transition: 400ms;
}

.choose__title{
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.choose__menu{
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, 5rem);
  height: min-content;
}

.choose__level{
  text-align: center;
  color: white;
  font-size: 2.4rem;
  padding: 0.5rem 1.5rem;
  background: rgb(57, 79, 121);
  cursor: pointer;
  border: 0.5rem solid transparent; 
  transition: 300ms;
}

.choose__level:hover{
  background: none;
  border: 0.5rem solid rgb(57, 79, 121); 
}
.choose__level:active{
  background: none;
  border: 0.5rem solid rgb(57, 79, 121);
}
.choose__level:last-of-type{
  grid-column: 1/3;
}
/* Конец уровня сложности */


.last__block{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  transition: 500ms;
}

/* Начало счётчика */
.count__card{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
  text-align: center;
  height: min-content;
  width: 50%;
}

.count__card-title{
  color: white;
}

.stages{
  display: flex;
  column-gap: 3rem;
  row-gap: 1rem;
  margin-right: 3rem;
}

.cards{
  border: 3px solid black;
  padding: 0.6rem 2rem;
  font-size: 2rem;
}

.blue{
  color: rgb(59, 59, 255);
}
.green{
  color: rgb(32, 201, 32);
}
.brown{
  color: rgb(203, 61, 61);
}


/* Колнец счётчика */

/* Колода  */
.deck{
  width: 30rem;
  align-self: flex-end;
  margin-bottom: 6rem;
}
.deck__img{
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 300ms;
}
.deck__img:hover{
  transform: scale(1.01) translateY(-2rem);
  box-shadow: inset 0 0 10rem 2rem black;
}

/* Колода  */


/*  Карты старт */
.cards__deck{
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-16%) ;
  width: 57rem;
  perspective: 1000px;
}

.card{
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 19rem;
  height: 28.3rem;
  border-radius: 8%;
  transform-style: preserve-3d;
  /* background: url(../assets/img/deck__back.png) no-repeat center/cover; */
  transform: rotate(calc(6deg*var(--i))) 
            translateX(calc(5.5rem*var(--i)))
            translateY(calc(-2.5rem*var(--u)));
  cursor: grab;
  transition: 500ms;
}
.card:active{
  cursor: grabbing;
}
.card:hover{
  box-shadow: inset 0 0 1rem 0.3rem #006959,
              0 0 1rem 0.5rem #006959,
              0 0 4rem 0.5rem #27e9cb,
              0 0 10rem 0.5rem #27e9cb;
  transform: rotate(calc(6deg*var(--i)))
             translateX(calc(5.5rem*var(--i)))
             translateY(calc((-2.5rem*var(--u)) + (-15rem)));
}




/* Стили для переворота карт  */
.card__front,
.card__back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8%;
  object-fit: cover;
  backface-visibility: hidden;
}
.card__front{
  transform: rotateY(-180deg);
}




/*  Карты конец */



.restart{
  transition: 300ms;
}
.restart{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.355);
}

.restart__block{
  position: relative;
  width: 60%;
  height: 40%;
  background: rgb(157, 45, 45);
  border-radius: 1rem;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.pos{
  position: absolute;
  width: 50%;
  color: rgb(157, 45, 45);
}
.game__over{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28rem;
}

.restart__game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  font-size: 5rem;
  color: white;
}

.restart__game:hover .redo{
  transform: rotate(300deg);
}

.redo{
  width: 100%;
  transition: 500ms;
}




